:root {
	--color-a: #111111;
	--color-b: #dddddd;
	--list-width: 20rch;
	font-size: medium;
	font-family: system-ui;
}

::selection {
	background-color: var(--color-b);
	color: var(--color-a);
}

body {
	background-color: var(--color-a);
	color: var(--color-b);
	margin: 2rem 4rch 1rem 4rch;
	line-height: 1.6;
}

h1 {
	font-size: 2.62rem;
	margin: 0;
}

h2 {
	font-size: 1.62rem;
	margin: 0;
}

input {
	background-color: var(--color-a);
	color: var(--color-b);
}

input:focus {
	outline: 0
}

input:invalid {
	border-style: dotted;
	border-width: 0 0 0.16rem 0;
}

input[type="button"] {
	border: 0.1rem solid var(--color-b);
	font-family: system-ui;
	width: 12rch;
	font-size: 1rem;
}

input[type="button"]:active {
	background-color: var(--color-b);
	color: var(--color-a);
}

input[type="button"]:hover {
	cursor: pointer;
}

input[type="button"]:focus {
	background-color: var(--color-b);
	color: var(--color-a);
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]+div {
	background-color: var(--color-a);
	border: 0.1rem solid var(--color-a);
	display: inline-block;
	height: 1rem;
	margin-left: 2rch;
	outline: 0.1rem solid var(--color-b);
	vertical-align: text-bottom;
	width: 1rem;
}

input[type="checkbox"]:checked+div {
	background-color: var(--color-b);
}

input[type="text"] {
	font-size: 1rem;
}

label {
	display: block;
	margin-bottom: 1rch;
}

.column {
	flex-direction: column;
}

.end {
	text-align: end;
}

.flex {
	display: inline-flex;
}

.input-text {
	width: 10rch;
	margin-left: 2rch;
}

.mr4 {
	margin-right: 4rch;
}

.none {
	border-style: none;
}

.solid {
	border-width: 0 0 0.1rem 0;
	border-style: solid;
	border-color: var(--color-b);
}

.space-between {
	justify-content: space-between;
}

.list {
	width: var(--list-width);
}

.cursor-text {
	cursor: text;
}

.min-width-0 {
	min-width: 0;
}

.listlist {
	white-space-collapse: preserve-breaks;
	outline-width: 0.1rem;
	outline-style: solid;
	outline-color: var(--color-b);
	width: calc(var(--list-width) - 1rch);
	padding-left: 1rch;
}

.margin-left-1 {
	margin-left: 1rch;
}