:root {
	--color-a: #111111;
	--color-b: #dddddd;
	--width-a: 10rch;
	--width-b: 16rch;
	font-family: system-ui;
	font-size: medium;
}

::selection {
	background-color: var(--color-b);
	color: var(--color-a);
}

body {
	background-color: var(--color-a);
	color: var(--color-b);
	line-height: 1.6;
	margin: 2rem 4rch 1rem 4rch;
}

h1 {
	font-size: 2.62rem;
	margin: 0;
}

h2 {
	font-size: 1.62rem;
	margin: 0;
}

input {
	background-color: var(--color-a);
	color: var(--color-b);
}

input:focus {
	outline: 0
}

input:invalid {
	border-style: dotted;
	border-width: 0 0 0.16rem 0;
}

input[type="button"] {
	border: 0.1rem solid var(--color-b);
	font-family: system-ui;
	font-size: 1rem;
	width: var(--width-b);
}

input[type="button"]:active {
	background-color: var(--color-b);
	color: var(--color-a);
}

input[type="button"]:hover {
	cursor: pointer;
}

input[type="button"]:focus {
	background-color: var(--color-b);
	color: var(--color-a);
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]+div {
	align-self: center;
	background-color: var(--color-a);
	border: 0.1rem solid var(--color-a);
	height: 1rem;
	margin-left: 2rch;
	outline: 0.1rem solid var(--color-b);
	width: 1rem;
}

input[type="checkbox"]:checked+div {
	background-color: var(--color-b);
}

input[type="text"] {
	font-size: 1rem;
	line-height: 1.6;
}

label {
	display: flex;
	margin-bottom: 1rch;
}

.column {
	flex-direction: column;
}

.end {
	text-align: end;
}

.flex {
	display: flex;
}

.inline-flex {
	display: inline-flex;
}

.inline-block {
	display: inline-block;
}

.mr4 {
	margin-right: 4rch;
}

.none {
	display: none;
}

.pad-lr {
	padding: 0 1rch 0 1rch;
}

.relative {
	position: relative;
}

.space-between {
	justify-content: space-between;
}

.solid {
	border-color: var(--color-b);
	border-style: solid;
	border-width: 0 0 0.1rem 0;
}

.input-text {
	margin-left: 2rch;
	width: calc(var(--width-a) - 2rch);
}

.input-list {
	border: none;
	flex: 1;
	min-width: 0;
}

.input-list~div {
	background-color: var(--color-a);
	outline: 0.1rem solid var(--color-b);
	position: absolute;
	top: round(calc(100% + 0.1rem), 1px);
	width: var(--width-b);
}

.input-list:focus~div {
	display: block;
}

.input-list:not(:focus)~div {
	display: none;
}

.list-container {
	margin-left: 2rch;
	width: var(--width-b);
}

.list-item:hover {
	text-decoration: underline;
}